{% extends 'base.html.twig' %}

{% block title %}Détails {{annonce.voiture.marque}} {{annonce.voiture.modele}} - Garage Parrot{% endblock %}

{% block body %}
<body class="bg-secondary">
{{ dump ()}}
    <div class="container-fluid">
        <section class="row justify-content-center">
            <h1 class="col-12 mt-3 p-3 bg-dark text-success shadow-lg rounded mb-5">Détail du véhicule : </h1>

            <h2 class="col-8 mt-3 p-3 bg-success shadow-lg rounded mb-5">{{annonce.titre}}</h2>
            <img class="col-6 my-3" alt="" src="{{annonce.voiture.displayPhoto }}">
        </section>
            <div class="table-responsive-md">
                <table class="table table-bordered table-striped table-dark text-white">
                    <caption class="text-success fw-bold">{{annonce.voiture.marque}} {{annonce.voiture.modele}}</caption>
                    <thead>
                        <tr>
                            <th scope="col">Elements techniques</th>
                            <th scope="col">Valeurs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row text-end">Date de 1ère mise en circulation</th>
                            <td>{{ annonce.voiture.annee | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Energie</td>
                            <td>{{annonce.voiture.energie}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Contrôle technique</td>
                            <td>{% if annonce.voiture.CtOk == 1 %} OK
                            {% else %}
                                A passer
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Couleur</td>
                            <td>{{annonce.voiture.couleur.libelle}}</td>
                        </tr>
                        <tr>
                            <td class='col-4'>Kilométrage</td>
                            <td>{{annonce.voiture.km}}</td>
                        </tr>
                        <tr>
                            <td class='col-4'>Boite de vitesse</td>
                            <td>{% if caracteristique.BoiteVitesseManuelle == 1 %} Manuelle
                            {% else %}
                                Automatique
                            {% endif %}
                            </td>
                        </tr>
                        <tr> 
                            <td class='col-4'> Nombre de portes</td>
                            <td>{% if caracteristique.nbPortes5 == 1 %} 5 
                            {% else %}3{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Puissance fiscale</td>
                            <td>{{caracteristique.puissanceFisc}} cv</td>
                        </tr>
                        <tr>
                            <th scope="row">Puissance din</td>
                            <td>{{caracteristique.puissanceDin}} ch</td>
                        </tr>
                        <tr>
                            <th scope="row">Emission de Co2</td>
                            <td>{{caracteristique.CO2}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Prix</td>
                            <td>{{annonce.prix}} € TTC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <a class="btn btn-dark text-success mb-5" href="{{path('app_form_vehicule', {'id': annonce.id})}}">Contacter le vendeur</button>
        <a class="btn btn-outline-dark text-success mb-5" href="{{path('app_vehicules/details/all')}}">Retour</a>
    </div>
</body>
{% endblock %}
