{% extends 'base.html.twig' %}

{% block title %}Annonces occasion - Garage Parrot{% endblock %}

{% block body %}
<body class="bg-secondary">
   
    <div class="container-fluid">
        <section class="row justify-content-center">
            <h1 class="col-12 mt-3 p-3 bg-dark text-success shadow-lg rounded mb-5">Nos véhicules d'occasion</h1>
            {% for annonce in annonces %} 
              <div class="card bg-dark text-white mb-5 mx-5" style="width: 18rem;">
                    <img src="{{ annonce.voiture.displayPhoto }}" class="card-img-top h-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-semibold">{{ annonce.titre }}</h5>
                        <p class="card-text">Année : {{ annonce.voiture.annee|date('Y') }} </br> Energie : {{ annonce.voiture.energie }} </br> Kilométrage : {{ annonce.voiture.km }}</p>
                        <p class="card-text fw-semibold border-top">Prix : {{ annonce.prix }}€ </p>
                        <a href="{{ path('app_vehicules_details', {'id': annonce.id}) }}" class="btn details text-success fw-semibold btn-primary d-flex justify-content-center ">Détails</a>
                    </div>
                </div>
            {% endfor %}

        </section>
    </div>
</body>
{% endblock %}
