{% extends 'base.html.twig' %}

{% block title %}Gestion des services-entretiens{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
    {% include "partials/adminNav.html.twig" %}
            <main class="col-lg-8 rounded p-2">
                {% if app.request.attributes.get('_route') == 'app_service_manager_add' %}
                    {% for notice in app.flashes('notice') %}
                        <div class="alert alert-info">
                            {{ notice }}
                        </div>
                    {% endfor %}
                
                    <h2 class="text-success p-3 border-bottom">Ajouter un service</h2>
                        {{ form_start(form) }}
                            {{ form_row(form.libelle) }}
                            {{ form_row(form.user)}}
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        {{ form_end(form) }}

                    {% else %}
            {% if app.request.attributes.get('_route') == 'app_entretien_manager_add' %}
                            <h2 class="text-success p-3 border-bottom">Ajouter un entretien</h2>
                {% for notice in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ notice }}
                    </div>
                {% endfor %}

                            {{ form_start(form) }}
                                {{ form_row(form.libelle) }}
                                {{ form_row(form.user)}}
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            {{ form_end(form) }}

                        {% endif %}  
                {% endif %}  
            </main>    
        </div>
    </div>
</body>
{% endblock %}
