{% extends 'base.html.twig' %}

{% block title %}Gestion des services-entretiens{% endblock %}

{% block body %}
<body class="bg-primary">
    <main class="container">
        <div class="row row-cols-4 justify-content-center">
        {% if is_granted('ROLE_ADMIN') %}
            {% include "partials/adminNav.html.twig" %}
            </aside>
            </div>
            </div>
        {% endif %}
            <div class="row justify-content-center">
                <div class="col-lg-8 rounded p-2">
                    {% if app.request.attributes.get('_route') == 'app_service_manager_add' %}
                        {% for notice in app.flashes('notice') %}
                        <div>
                            {{ block ("alertSuccess", "config/common_block.html.twig") }}
                        </div>
                        {% endfor %}
                        <h2 class="text-success p-3 border-bottom">Ajouter un service</h2>
                            {{ form_start(form) }}
                                {{ form_row(form.libelle) }}
                                {{ form_row(form.user)}}
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            {{ form_end(form) }}

                    {% else %}
                    {% if app.request.attributes.get('_route') == 'app_entretien_manager_add' %}
                        <h2 class="text-success p-3 border-bottom">Ajouter un entretien</h2>
                        {% for notice in app.flashes('notice') %}
                            <div>
                                {{ block ("alertSuccess", "config/common_block.html.twig") }}
                            </div>
                        {% endfor %}
                            {{ form_start(form) }}
                                {{ form_row(form.libelle) }}
                                {{ form_row(form.user)}}
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            {{ form_end(form) }}
                    {% endif %}  
                    {% endif %}  
                </div>
            </div>    
        </div>
    </main>
</body>
{% endblock %}
