{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
    {% include "partials/adminNav.html.twig" %}
            <main class="col-lg-8 rounded p-2">
                <h2 class="text-success p-3 border-bottom">Liste des utilisateurs</h2>
                 <div class="table-responsive-md mt-5">
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th scope="col" class="text-success bg-secondary">Identifiant</th>
                            <th scope="col" class="text-success bg-secondary">Nom</th>
                            <th scope="col" class="text-success bg-secondary">Prénom</th>
                            <th scope="col" class="text-success bg-secondary">Email</th>
                            <th scope="col" class="text-success bg-secondary">Poste</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.poste.libelle }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>    
        </div>
    </div>
</body>
{% endblock %}
