{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
    {% include "partials/adminNav.html.twig" %}
            <main class="col-lg-8 rounded p-2">
                <h2 class="text-success p-3 border-bottom">Gestion des utilisateurs</h2>
                <a href="{{path('app_user_add')}}" class="btn btn-light mb-3 mt-3">Ajouter un utilisateur</a>
                 <div class="table-responsive-md mt-2">
                <table class="table table-bordered table-striped table-dark text-white text-center">
                    <thead>
                        <tr>
                            <th scope="col">Identifiant</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Poste</th>
                            <th scope="col" colspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.poste.libelle }}</td>
                            <td><a href="{{path('admin_userModify_selected', {'id': user.id})}}" class="btn btn-success">Modifier</a></td>
                            <td><a href="#" class="btn btn-danger">Supprimer</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>    
        </div>
    </div>
</body>
{% endblock %}
