{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
            {% include "partials/adminNav.html.twig" %}
            {% else %}
            {% include "partials/userNav.html.twig" %}    
            {% endif %}
            <main class="col-lg-8 rounded p-2">
                {% if app.request.attributes.get('_route') == 'user_car_ad_edit' %}
                <h2 class="text-success p-3 border-bottom">Modifier l'annonce</h2> 
                {% else %}               
                <h2 class="text-success p-3 border-bottom">Ajouter une annonce</h2>
                {% endif %}
                {% for notice in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ notice }}
                    </div>
                {% endfor %}
                <div class="text-white">
                 {{ form_start(formView) }}
                        {{ form_row(formView.titre) }}
                        {{ form_row(formView.prix) }}
                        {{ form_row(formView.created_at)}}
                        {{ form_row(formView.voiture) }}
                        {{ form_row(formView.user) }}
                        <button type="submit" class="btn btn-success">Valider</button>

                    {{ form_end(formView) }}
                </div>
            </main>    
        </div>
    </div>
</body>
{% endblock %}
