{% extends 'base.html.twig' %}

{% block title %}Ajouter des caractéristiques{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
            {% include "partials/adminNav.html.twig" %}
            {% else %}
            {% include "partials/userNav.html.twig" %}    
            {% endif %}
            <main class="col-lg-8 rounded p-2">
                {% if app.request.attributes.get('_route') == 'user_car_caracteristics_edit' %} 
                <h2 class="text-success p-3 border-bottom">Modifier des caractéristiques</h2> 
                {% else %}            
                <h2 class="text-success p-3 border-bottom">Ajouter des caractéristiques</h2>
                {% endif %}
                
                {% for notice in app.flashes('notice') %}
                <div class="alert alert-info">
                {{ notice }}
                </div>
                {% endfor %}
                <div class="text-white">
                 {{ form_start(formView) }}
                        {{ form_row(formView.boite_vitesse_manuelle) }}
                        {{ form_row(formView.nb_portes_5) }}
                        {{ form_row(formView.puissance_fisc) }}
                        {{ form_row(formView.puissance_din) }}
                        {{ form_row(formView.co2) }}
                        <button type="submit" class="btn btn-success">Valider</button>
                        {% if app.request.attributes.get('_route') == 'user_car_caracteristics_edit' %}
                        <a href="{{path('user_car_ad_edit', {'id': voitures.id})}}" class="btn btn-light">Suivant</a>
                        {% endif %}
                    {{ form_end(formView) }}
                </div>
            </main>    
        </div>
    </div>
</body>
{% endblock %}