 {% extends 'base.html.twig' %}

{% block title %}Lier des caractéristiques à une voiture{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
            {% include "partials/adminNav.html.twig" %}
            {% else %}
            {% include "partials/userNav.html.twig" %}    
            {% endif %}
            <main class="col-lg-8 rounded p-2">      
                <h2 class="text-success p-3 border-bottom">Lier des caractéristiques à une voiture</h2>
                {% endif %}
                {% for notice in app.flashes('notice') %}
                <div class="alert alert-info">
                {{ notice }}
                </div>
                {% endfor %}
                <div class="text-white">
                 {{ form_start(formView) }}
                        {{ form_row(formView.voiture) }}
                        {{ form_row(formView.caracteristique) }}
                        <button type="submit" class="btn btn-success">Valider</button>
                    {{ form_end(formView) }}
                </div>
            </main>    
        </div>
    </div>
</body>
{% endblock %}                       
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
