{% extends 'base.html.twig' %}

{% block title %}Gestion des annonces{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
            {% include "partials/adminNav.html.twig" %}
            {% else %}
            {% include "partials/userNav.html.twig" %}    
            {% endif %}
            <main class="col-lg-8 rounded p-2">
                <h2 class="text-success p-3 border-bottom">Gestion des annonces</h2>
                {% for notice in app.flashes('notice') %}
                        <div>
                            {{ block ("alertSuccess", "config/common_block.html.twig") }}
                        </div>
                    {% endfor %}
                <a href="{{path('user_ad_new')}}" class="btn btn-outline-light mb-3 mt-3">Ajouter une annonce</a>
                <div class="table-responsive-md mt-5">
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th scope="col" class="text-success text-center bg-secondary">Titre</th>
                            <th scope="col" class="text-success text-center bg-secondary">Prix</th>
                            <th scope="col" class="text-success text-center bg-secondary">Date de mise en ligne</th>
                            <th scope="col" class="text-success text-center bg-secondary" colspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for annonce in pagination %}
                        <tr>
                            <td  class="col-2">{{ annonce.titre }}</td>
                            <td  class="col-2">{{ annonce.prix }}€</td>
                            <td class="col-2">{{ annonce.createdAt |date('d/m/Y') }}</td>
                            <td class="col-2"><a href="{{path('user_car_ad_edit', {'id': annonce.id})}}" class="btn btn-outline-success">Modifier</a>
                                <a onclick="return confirm('Confirmez-vous la suppression?')" href="{{path('user_car_ad_delete', {'id': annonce.id})}}" class="btn btn-outline-danger">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination)}}
            </main>    
        </div>
    </div>
</body>
{% endblock %}
