{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
            {% include "partials/adminNav.html.twig" %}
            {% else %}
            {% include "partials/userNav.html.twig" %}    
            {% endif %}
            <main class="col-lg-8 rounded p-2">
                <h2 class="text-success p-3 border-bottom">Modifier l'annonce</h2> 
                {% for notice in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ notice }}
                    </div>
                {% endfor %}
                <div class="text-white">
                {% for annonce in annonces %}
                    
                {{ form_start(formView) }}
                        {{ form_row(formView.titre) }}
                        {{ form_row(formView.prix) }}
                        {{ form_row(formView.ct_ok) }}
                        {{ form_row(formView.kilometrage) }}
                        {{ form_row(formView.Boite_vitesse_manuelle) }}
                        {{ form_row(formView.nombre_de_portes_5) }}
                        {{ form_row(formView.puissance_fiscale) }}
                        {{ form_row(formView.emission_CO2) }}
                        {{ form_row(formView.created_at)}}
                        {{ form_row(formView.user) }}
                        <button type="submit" class="btn btn-success">Valider</button>

                    {{ form_end(formView) }}
                {% endfor %}
                </div>
            </main>    
        </div>
    </div>
</body>
{% endblock %}
